body
{
	text-align: center;
	color: #555;
	font-family: arial, san-serif;
	background-color: #555;
	margin:0;
	padding:0;
}

#bg_img {
	position:fixed;
	top:0;left:0;
	width:100%;height:100%;
	background-image:url("apple.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-color: #555;
	background-color: rgba(0, 132, 71, 0.7);
	z-index: 0;
	opacity: 0.5;
}

#wrapper {
	z-index: 999;
	margin-top:70px;
}

input[type=submit],#forgot-password, #help-add {
	padding: 15px;
	color: #fefefe;
	background: rgba(0,0,0,0.7);
	border: none;
	cursor: pointer;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 5px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
}

input[type=submit]:hover,#forgot-password:hover,#help-add:hover {
	background: #111;
}

select,input[type=text],input[type=password],input[type=number],input[type=email] {
	position: relative;
	margin-bottom: 20px;
}

#home-stuff {
	position: absolute;
	width: 100%;
	margin: auto;
	top: calc(50% - 30px);
}

#back-button {
	position: absolute;
	top: 0; left: 20px;
}

#login-form {
	display: inline-block;
	position: absolute;
	top: calc(50% - 125px);
	left: calc(50% - 160px);
	height: 250px;
	width: 320px;
	background-color: rgba(200,200,200,0.7);
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

ul {
	margin: 20px;
	padding: 0;
}

#register-list,#add-list {
	position: relative;
	background-color: rgba(200,200,200,0.7);
	display: inline-block;
	padding: 20px;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}

#logout-button
{
	position: absolute;
	top:2px;
	right:20px;
}

/* Option template */

#option-wrapper{
	position: relative;
	text-align: left;
}

/* Search template*/

#search-wrapper input{
	width: 280px;
}

/* Notification/Alert stuff */

.hidden {
	opacity:0;
	z-index: 0;
}

.visible {
	opacity: 1;
	z-index: 999999;
}

#alert-wrapper {
	position: fixed;
	top:2px;left:calc(50% - 100px);
	min-width: 200px;
	transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
}

#alert-container{
	padding: 20px;
	background-color: #ffff00;
	opacity:0.8;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	transition: all 0.7s;
	-webkit-transition: all 0.7s;
}

#alert-container:hover{
	opacity:1;
}
